:root {
  --color-white: #ffffff;
  --color-black: #2d3436;
  --color-64-gray-dark: #5c5c5c;
  --color-48-gray: #858585;
  --color-32-gray-light: #adadad;
  --color-24-gray-soft: #c2c2c2;
  --color-blue-dark: #0984e3;
  --color-blue-light: #74b9ff;
  --color-green-dark: #00b894;
  --color-green-light: #55efc4;
  --color-yellow-dark: #fdcb6e;
  --color-yellow-light: #ffeaa7;
  --color-red-dark: #d63031;
  --color-red-light: #ff7675;
  --color-purple-dark: #6c5ce7;
  --color-purple-light: #a29bfe;
  --color-pink-dark: #e84393;
  --color-pink-light: #fd79a8;

  --color-gradient-black: linear-gradient(180deg, #2d3436 0%, rgba(45, 52, 54, 0) 100%);

  --animation-speed: 0.3s;
  --animation--function: ease;
  --animation: var(--animation-speed) var(--animation--function);
}
